# Insper: Profa Maria Kelly Venezuela

# Ciência dos dados: Engenharias

# Projeto 3: PNADC - Uso dos microdados de 2023

# Grupo: Danilo Ramos, Leonardo Veras e Thomas Ganut
___

In [22]:
import pandas as pd

___
## A. Introdução

### Objetivo escolhido:

O **tema** escolhido pelo grupo é como a classe social e a área de atuação podem determinar o salário de um indíviduo.
<br><br>

O ***target*** escolhido pelo grupo é "Qual era o rendimento bruto/retirada mensal que ... recebia/fazia normalmente nesse trabalho? (valor em dinheiro)" (variável V403312 - quantitativa).

O grupo dividiu as ***features*** escolhidas para o projeto em três temas, sendo estes "Classe social", "Área de atuação" e "Classificações gerais".

#### Classe social
- Cor ou raça (V2010)
- ... sabe ler e escrever? (V3001)
- A escola que ... frequenta é de (V3002A)
- Nível de instrução mais elevado alcançado (pessoas de 5 anos ou mais de idade) padronizado para o Ensino fundamental -  SISTEMA DE 9 ANOS (VD3004)

#### Área de atuação
- Na semana de ... a ... (semana de  referência), ... tinha pelo menos um sócio que trabalhava nesse negócio/empresa? (V4017)
- Então onde ... exercia normalmente esse trabalho? (V4022)
- Nesse trabalho, ... tinha carteira de trabalho assinada? (V4029)

#### Classificações gerais
- Unidade da Federação (UF)
- Tipo de área (V1023)
- Idade do morador na data de referência (V2009)

___
# Leitura da base de dados - PNADC 2023:

In [23]:
# PRIMEIRO TRIMESTRE DE 2023
url1 = 'https://www.dropbox.com/scl/fi/fv6fli3jyuinijotw9v6b/pnad23_1.csv?rlkey=1nq6xfd1fn7guz4nyhvwslp7p&st=qpr7odgu&dl=1'

# SEGUNDO TRIMESTRE DE 2023
url2 = 'https://www.dropbox.com/scl/fi/kvhduq8ocy2o1yj4l0ycc/pnad23_2.csv?rlkey=ni8nhwkv84xg59mp1cnd4gsto&st=yr8uiq5k&dl=1'

# TERCEIRO TRIMESTRE DE 2023
url3 = 'https://www.dropbox.com/scl/fi/ol5m8stpd50e7endyal5d/pnad23_3.csv?rlkey=kik14kn4wqbcbdsmgq44z2i4s&st=9reoxjte&dl=1'

# QUARTO TRIMESTRE DE 2023
url4 = 'https://www.dropbox.com/scl/fi/ksca0i4ybo6hno738pjcw/pnad23_4.csv?rlkey=e186niofxka6lmmlbkefr94zw&st=wntcupiu&dl=1'

# Arquivo local do primeiro trimestre (para agilizar a leitura pelo python): 
arquivo_local = "pnad23_1.csv"

In [24]:
# pnad23_1_all = pd.read_csv(arquivo_local)
# pnad23_1_all

___
### LEITURA DE APENAS ALGUMAS COLUNAS <br>
Para saber o significado das linhas e colunas, veja o arquivo Excel `dicionario_PNADC_microdados_trimestral.xlsx`

In [25]:
# Colunas selecionadas, POR EXEMPLO:
colunas = ['UF',      # Estado
           'V2010',   # Cor ou raça
           'V3001',   # Sabe ler ou escrever?
           'V3002A',  # Tipo de escola
           'VD3004',  # Nível de instrução
           'V4017',   # Tem sócios?
           'V4022',   # Onde exerce o trabalho?
           'V4029',   # Tem carteira assinada?
           'V1023',   # Tipo de área da residência
           'V2009']   # Idade   

# Leitura da base de dados filtrando apenas as colunas contidas na lista `colunas`
pnad23_1_small = pd.read_csv(arquivo_local, usecols=colunas)

In [26]:
pnad23_1_small.rename(columns={'UF':'Estado',
                                'V2010':'CorRaca',
                                'V3001':'Analfabeto',
                                'V3002A':'TipoEscola',
                                'VD3004':'Instrucao',
                                'V4017':'Socios',
                                'V4022':'TipoTrabalho',
                                'V4029':'Carteira',
                                'V1023':'AreaRes',
                                'V2009':'Idade'}, inplace=True)
pnad23_1_small

,Estado,AreaRes,Idade,CorRaca,Analfabeto,TipoEscola,Socios,TipoTrabalho,Carteira,Instrucao
0,11,1,30,4,1.0,NaN,2.0,7.0,NaN,5.0
1,11,1,29,4,1.0,NaN,NaN,NaN,NaN,5.0
2,11,1,50,4,1.0,NaN,NaN,NaN,NaN,7.0
3,11,1,25,4,1.0,NaN,NaN,NaN,NaN,5.0
4,11,1,2,4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
473330,53,1,84,4,1.0,NaN,NaN,NaN,NaN,2.0
473331,53,1,47,1,1.0,NaN,NaN,5.0,2.0,7.0
473332,53,1,11,1,1.0,2.0,NaN,NaN,NaN,2.0
473333,53,1,54,4,1.0,NaN,NaN,NaN,1.0,4.0
473334,53,1,41,1,1.0,NaN,NaN,NaN,1.0,5.0